{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{ resource.name }}</h3>
                <p>{{ resource.description|markdown }}</p>
                <h4>Version : </h4>
                {% for version in resource.version %}
                    <b>{{ version.version }}</b> : {{ version.changelog }} <a href="{{ path('resources_download', {id: version.id}) }}" class="btn btn-success btn-sm">Télécharger</a> {% if loop.last %}<a href="{{ path('review_new', {id: version.id}) }}" class="btn btn-primary btn-sm">Faire une Review</a>{% endif %}
                    <hr>
                {% endfor %}
                <a href="{{ path('resources_new_version', {id: resource.id}) }}" class="btn btn-dark">Nouvelle Version</a>
                <br> <br>

                <h4>Review:</h4>

                {% for review in reviews %}

                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Max13480 <small>V{{ review.version.version }}</small></h4>
                            <h6 class="card-subtitle mb-2 text-muted"><strong>{{ review.note|rating }}</strong></h6>
                            <p class="card-text">{{ review.content }}</p>
                            <a href="{{ path('resource_delete_review', {id: review.id}) }}" class="btn-sm btn-danger">Supprimer la Review</a>
                            <br><br>
                            <a href="{{ path('resource_edit', {id: review.id}) }}" class="btn-sm btn-primary">Editer la Review</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}