{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ resource.name }}</h3>
    <p>{{ resource.description }}</p>
    <h4>Version : </h4>
    {% for version in resource.version %}
        <b>{{ version.version }}</b> : {{ version.changelog }} <br>
        {{ version.file }}
        <hr>
    {% endfor %}

{% endblock %}